@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Sembunyikan scrollbar untuk semua browser */
html::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar untuk WebKit */
}

html {
  scrollbar-width: none; /* Sembunyikan scrollbar untuk Firefox */
  -ms-overflow-style: none; /* Sembunyikan scrollbar untuk IE dan Edge */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Media query untuk tema terang */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}